bin/
platforms/MSVC2015/x86/
extensions/Unity/TUI-Unity-Example/Library/
extensions/MouseServer/x86/
extensions/Unity/TUI-Client-c++Lib/x86/
extensions/Unity/TUI-Client-C#lib/TUIClientUnityDemo/obj/x64/Debug/TUICSharp Client Demo.pdb
extensions/Unity/TUI-Client-C#lib/TUIClientUnityDemo/obj/
extensions/Unity/TUI-Client-C#lib/TUI-Client-Libary/obj/
extensions/Unity/TUI-Unity-Example/Temp/
src/TUIExampleClients/tuipythonclient/build/temp.win32-3.5/Release/consoleAction.cp35-win32.exp
src/TUIExampleClients/tuipythonclient/build/
*.suo
*.opendb
*.pdb
*.sdf
*.zip
doc/
extensions/tuiclientpyext/tuiclientpyext/.svn/text-base/TUIClient.cpp.svn-base
extensions/tuiclientpyext/tuiclientpyext/.svn/text-base/TUIClient.h.svn-base
extensions/tuiclientpyext/tuiclientpyext/.svn/text-base/TUIClientPythonModule.cpp.svn-base
extensions/tuiclientpyext/tuiclientpyext/.svn/text-base/eventDelegationRegistration.cpp.svn-base
extensions/tuiclientpyext/tuiclientpyext/.svn/text-base/eventDelegationRegistration.h.svn-base
extensions/tuiclientpyext/tuiclientpyext/.svn/text-base/setup.py.svn-base
extensions/tuiclientpyext/tuiclientpyext/.svn/text-base/test.py.svn-base
extensions/tuiclientpyext/tuiclientpyext/.svn/
extensions/tuiclientpyext/build/temp.win-amd64-3.5/Release/TUIClientPythonModule.obj
extensions/tuiclientpyext/build/
include/TUIPlugins/typeconverter/FloatToPackedFloatMSP.h
platforms/MSVC2015/Projects/TUIBinTUIClientVRED/.gitignore
platforms/MSVC2015/Projects/TUIBinWinModClient/.gitignore
platforms/MSVC2015/Projects/TUIFrameworkClient/.gitignore
platforms/MSVC2015/Projects/TUIFrameworkCore/.gitignore
platforms/MSVC2015/Projects/TUIFrameworkServer/.gitignore
platforms/MSVC2015/Projects/TUIFrameworkXML/.gitignore
platforms/MSVC2015/Projects/TUILibDTrack/.gitignore
platforms/MSVC2015/Projects/TUILibDTrackDLL/.gitignore
platforms/MSVC2015/Projects/TUILibDummy/.gitignore
platforms/MSVC2015/Projects/TUILibDummyDLL/.gitignore
platforms/MSVC2015/Projects/TUILibKinect/.gitignore
platforms/MSVC2015/Projects/TUILibKinectDLL/.gitignore
platforms/MSVC2015/Projects/TUILibKinectTransf/.gitignore
platforms/MSVC2015/Projects/TUILibKinectTransfDLL/.gitignore
platforms/MSVC2015/Projects/TUILibMatrix4Calibration/.gitignore
platforms/MSVC2015/Projects/TUILibMatrix4CalibrationDLL/.gitignore
platforms/MSVC2015/Projects/TUILibMatrix4OpDLL/.gitignore
platforms/MSVC2015/Projects/TUILibMatxi4Op/.gitignore
platforms/MSVC2015/Projects/TUILibMotionCaptureStub/.gitignore
platforms/MSVC2015/Projects/TUILibMotionCaptureStubDLL/.gitignore
platforms/MSVC2015/Projects/TUILibMouse/.gitignore
platforms/MSVC2015/Projects/TUILibMouseDLL/.gitignore
platforms/MSVC2015/Projects/TUILibMouseDemux/.gitignore
platforms/MSVC2015/Projects/TUILibMouseDemuxDLL/.gitignore
platforms/MSVC2015/Projects/TUILibPhidgets/.gitignore
platforms/MSVC2015/Projects/TUILibPhidgetsDLL/.gitignore
platforms/MSVC2015/Projects/TUILibTUITypes/.gitignore
platforms/MSVC2015/Projects/TUILibTUITypesDLL/.gitignore
platforms/MSVC2015/Projects/TUILibTypeConverter/.gitignore
platforms/MSVC2015/Projects/TUILibTypeConverterDLL/.gitignore
platforms/MSVC2015/Projects/TUILibWinMod/.gitignore
platforms/MSVC2015/Projects/TUILibWinModDLL/.gitignore
platforms/MSVC2015/Projects/TUILibWinModDemux/.gitignore
platforms/MSVC2015/Projects/TUILibWinModDemuxDLL/.gitignore
platforms/MSVC2015/Projects/TUILibXController/.gitignore
platforms/MSVC2015/Projects/TUILibXControllerDLL/.gitignore
platforms/MSVC2015/Projects/TUILibXControllerDemux/.gitignore
platforms/MSVC2015/Projects/TUILibXControllerDemuxDLL/.gitignore
platforms/MSVC2015/Projects/TUIServer/.gitignore
extensions/WinMOD_Projectv2/
extensions/MouseServer/Release/
WinMOD-Project_HT+FB_V1_ohneFB140+150_Vorlaufig/
